<footer class="footer">
  <div class="columns">
    <div class="column">
      <h1 class="title is-size-4">Meta</h1>
      <a href="#">Imprint</a>
    </div>

    <div class="column">
      <h1 class="title is-size-4">Latest Posts</h1>
      <ul>
        {%- for post in site.posts limit:5 -%}
          <li href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title | truncate: 35 }}
          </li>
        {%- endfor -%}
      </ul>
    </div>

    <div class="column">
      <h1 class="title title is-size-4">Title</h1>
      <a href="#">Link</a>
    </div>

    <div class="column">
      <h1 class="title title is-size-4">Title</h1>
      <ul>
        <li>
          <span class="icon">
            <i class="las la-envelope"></i>
          </span>
          mail@example.com
        </li>
        <li>
          <span class="icon">
            <i class="lab la-twitter"></i>
          </span>
          @twitter-handle
        </li>
      </ul>
    </div>
  </div>

  <div class="has-text-centered">
    {{ site.title }} | &nbsp;
  </div>
</footer>

{%- if page.custom_js -%}
  {%- for js_file in page.custom_js -%}
    <script src='{{ site.url }}/js/{{ js_file }}.js'
            type="text/javascript"></script>
  {%- endfor -%}
{%- endif -%}
